{{ $dot := . }}
{{ $data := $dot.ctx.Site.Data.security_monitoring.data }}
{{ $img_map := $data.image_map }}
{{ $img_path := "images/integrations_logos/" }}
{{ $img_url := printf "%s%s" $dot.ctx.Site.Params.img_url $img_path }}
{{ $source := .source }}
{{ $scope := .scope }}

{{ $src_link := printf "integrations/%s" $source }}

{{ range $key, $value := $img_map }}
    {{ if intersect $value.source (slice $source $scope) }}
        {{ if in .source $scope }}
            {{ $source = $scope }}
        {{ end }}
        {{ with index $img_map $key }}
            {{ if .link }}
                {{ $src_link = printf "integrations/%s" .link }}
            {{ else }}
                {{ $src_link = printf "integrations/%s" $source }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $int_logo := partial "integrations-logo.html" (dict "context" $dot.ctx "basename" $source "variant" "avatar") }}
{{- return (dict "image" $int_logo "link" ($src_link | absLangURL) "rellink" $src_link ) -}}
